
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  text-shadow: #000 1px 1px;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  background-color: #303030;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}